<% content_for :page_title do %>About - Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "about" %>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="intro" class="about">
  <div class="grouper">
    <h3 class="major inspector">What's this all about?</h3>

    <p>For years The New York Public Library has collected maps documenting our ever-changing metropolis. Originally commissioned by insurance companies to assess property value and fire risk, these street atlases contain a wealth of detailed information about a city now largely lost to us: buildings long ago destroyed, streets renamed, whole neighborhoods redrawn or redefined. Making these lost places findable via contemporary digital maps allows us to drill down through the layers of urban change and study the city in profound new ways. But harvesting the data isn't easy.</p>

    <p>That's where the Building Inspector (and you) come in. This app is the latest in a series of public-facing tools designed by The Library to extract, correct and analyze data from historical maps. We're training computers to do the heavy lifting, and then distributing the remaining quality control tasks to smart, motivated citizens. The goal? To produce a comprehensive directory of old New York (or, as we like to think of it, a time machine).</p>

    <p>With that information organized and searchable, we can ask new kinds of questions about history. It will allow our interfaces to drop pins accurately on digital maps when you search for a forgotten place. It will allow you to explore a city's past on foot with your mobile device, 'checking in' to ghostly establishments (Empire State Building, meet Waldorf-Astoria Hotel). And it will allow us to link other historical documents to those places: archival records, old newspapers, business directories, photographs, restaurant menus, theater playbills etc., opening up new ways to research, learn, and discover the past.</p>

    <p>Building Inspector was made by <a href="http://www.nypl.org/labs">NYPL Labs</a> in collaboration with the <a href="http://www.nypl.org/locations/schwarzman/map-division"> Lionel Pincus and Princess Firyal Map Division</a> at The New York Public Library. </p>

    <p>Questions? Comments? Want to stay in touch as the project develops? Contact us at <a href="mailto:buildinginspector@nypl.org">buildinginspector@nypl.org</a> or reach out to us on <a href="https://twitter.com/nypl_labs">Twitter</a>.</p>
     <h3 class="major">How Your Contributions Help</h3>
     <p>Currently, there are two different tasks you can perform. Each is designed to extract a particular type of data from the maps. Here's what the different tasks tell us:</p>

     <ul id="about-task-list">
          <li><%= link_to(image_tag("icon-geometry.svg", :class=>"task-icon"), geometry_path, :class=>"link-task") %> <strong>Check Footprints</strong> - We show you the buildings the automated process identified, one outline at a time. You tell us whether it is right, wrong, or close but in need of fixing.</li>
          <li><%= link_to(image_tag("icon-polygonfix.svg", :class=>"task-icon"), polygonfix_path, :class=>"link-task") %> <strong>Fix Footprints</strong> - Take those slightly imperfect footprints identified by your fellow Historic Map Markers and get them into shape to be recorded for history.<br /></li>
          <!--<li><%= link_to(image_tag("icon-address.svg", :class=>"task-icon"), address_path, :class=>"link-task") %> <strong>Enter Addresses</strong> -  Getting those original street numbers will help us to reference specific buildings in their historical context (and, eventually, to see who lived/worked there).<br /></li>
          <li><%= link_to(image_tag("icon-color.svg", :class=>"task-icon"), color_path, :class=>"link-task") %> <strong>Classify Colors</strong> - The original mapmakers color-coded the buildings to indicate construction materials and use types (residential vs. commercial). Identifying the colors helps us index these important details.<br /></li>-->
        </ul>

     <p>We aim to add new tasks as we continue to work with more world-class libraries and historic map sources. Be sure to check back regularly for these addtional tasks.</p>
     <h3 class="major">How Is Accuracy Ensured?</h3>

    <p>Every time you check a building, you’re essentially casting a vote alongside your fellow Historic Map Markers. We show the same footprint and task to several people and tally up those votes to decide whether they agree.</p>

    <p>For example, for Footprint Inspection, we show the same footprint to at least 3 different people, and every 10 minutes we tally up the votes. If 75% or more agree, that footprint has reached “consensus” and the system removes it from the Historic Map Marker queue. If the jury's still out, we keep the footprint in circulation until consensus is reached, focusing our collective efforts on the buildings most in need.</p>

    <p>The main takeaway here is: relax! Your fellow Historic Map Markers have got your back. <em>It's no big deal if make a mistake once in a while, or make your best guess on an ambiguous case.</em> The community will double, triple, and quadruple check you, and you them. Go Team!</p>
  </div>
    <div id="home-explained">
  <h3 class="major">How Did We Get Here?</h3>

  <div class="header first">
    <h3>It all starts with a map</h3>
    <h4>In medieval Latin "Mappa mundi" referred to a napkin or cloth (mappa) of the world (mundi). In time, "map" became the shortened name of a two-dimensional representation of the surface of the world.</h4>
  </div>
  <div class="grouper">
    <p class="centered">By working together with libraries, the open source software community and generous volunteers (like yourself) we are able to take a historic print map and transform it into the digital age. The information gathered is fully catalogued and searchable. We then make it available under an open licence so that everyone benefits from the project. Here are the main steps of the process:</p>
  </div>
  <div class="grouper">
    <h4 class="numeral">1</h4>
    <h3>Scan</h3>
    <div id="capture-graphic" class="left graphic">
      <div class="camera"></div>
      <div class="flash"></div>
    </div>
    <div class="right"><p>First we create a high-resolution digital image of the original paper map. We make copies of the image and store them for safekeeping in our digital repository.</p><p>This first step is completed by our generous libraries and private map collectors. Many libraries now make the images available for viewing on their respective websites.</p></div>
  </div>
  <div class="grouper">
    <h4 class="numeral">2</h4>
    <h3>Rectify</h3>
    <div id="rectify-graphic" class="right graphic">
      <div class="sheet"></div>
    </div>
    <div class="left"><p>While images of old maps are nice, what our users really want is to compare maps from different periods. The trouble is, mapmakers rarely laid things out in ways that allow us to conveniently overlay the images. Locations appear in different parts of the page from year to year, map scales differ, and (gasp!) sometimes cartographers didn't even put north at the top of the page.</p><p>So this second stage is all about aligning the map image with its geographical location. The technical term for this is geo-rectification, and it's a process that can be completed either by the library or via public volunteers using online tools such as the <a href="http://mapwarper.net/">Map Warper</a>.</p></div>
  </div>
  <div class="grouper">
    <h4 class="numeral">3</h4>
    <h3>Vectorize</h3>
    <div id="vectorize-graphic" class="left graphic"><%= image_tag "home/vectorize.gif", :class => "animated" %></div>
    <div class="right"><p>Next up is identifying specific features from the maps. This involves identifying shapes (most commonly, building footprints) and converting them into geospatial vector data. This vector data contains all the information about the buildings location (latitude and longitude) and is what is required to enable us to truly explore the historic maps in the digital world.</p><p>Library staff and volunteers have been working to trace building shapes by hand but the work is time-consuming (and, frankly, pretty dull). So to get through these mountains of data, we now use an automated process to recognise building footprints and other features. It works pretty darn well, but as with most image processing techniques, it's not perfect.</p></div>
  </div>
  <div class="grouper">
    <h4 class="numeral">4</h4>
    <h3>Inspect!</h3>
    <p class="centered">You take it from here! The rest is up to you. With the help of your fellow Historic Map Markers, you’ll be unlocking the future our cities’ past!</p>

    <p class = "centered">When all these tasks come together, it produces incredibly important geospatial data about our historical buildings. You can learn more about the data and how to access it on our <a href="/general/data">Data page</a>. All geospatial vector data produced by this project is released under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons-0 Designation</a>, meaning you can use it however you like.</p>

  </div>
  <div class="grouper">
    <h3  class="major">CREDITS</h3>
    <p>
    <strong>Our partner libraries</strong><br />
    <a href="http://maps.nls.uk/">National Library of Scotland</a>  - Ordnance Survey Maps, London 1893-1896<br />
    <!--British Library-->
    </p>

    <p>
    <strong>Special Thanks</strong><br />
    NYPL Labs and their Lead Developer/Designer, Mauricio Giraldo - For allowing us to develop this site based on their own <a href="http://buildinginspector.nypl.org/">version for New York</a>.<br />
    Contributors of the map-vectorizer - For creating the <a href="https://github.com/NYPL/map-vectorizer">tool</a> we use to automatically extract rough building footprints.
    The Lionel Pincus and Princess Firyal Map Division, NYPL - Many images on our site are of their maps.<br />
    Chris Fleet, National Library of Scotland - For supporting us in getting this project off the ground by providing test maps.<br />
    </p>  </div>
</div>

  </div>
</div>

<%= render :partial => "partials/footer" %>
